@media (min-width: 980px) /* desktop */ {
    .iframe-container {
        overflow: hidden;
        padding-top: 75vh;
        position: relative;
    }

    .iframe-container iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

@media (max-width: 500px) /* mobile */ {
    .iframe-container {
        position: relative;
        /*padding-bottom: 175%;*/
        padding-bottom: 75vh;
        padding-top: 1vh;
        height: 0;
        overflow: auto; 
        -webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY 
    }

    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

.hashover .hashover-message.hashover-message-open > * {
    background-color: @ini_background_alt !important;
}

hashover .hashover-formatting-table {
    background-color: @ini_background_neu !important;
}

hashover form input,
.hashover form textarea,
.hashover .hashover-inputs input,
.hashover .hashover-submit {
    background-color: @ini_background_alt !important;
}

.hashover .hashover-form-footer {
    background-color: @ini_background_alt !important;
}

.hashover .hashover-avatar-image *,
.hashover .hashover-avatar *,
.hashover .hashover-comment > .hashover-balloon,
.hashover .hashover-reply .hashover-header,
.hashover .hashover-comment .hashover-inputs,
.hashover .hashover-requires-login-message {
     background-color: @ini_background_alt !important;
}

.hashover .hashover-select-wrapper:before {
    background-color: @ini_background_alt !important;
}
